@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: #E5E5E5;
    overflow: hidden;
}

p{
    font-family: 'Inter';
    font-weight: 400;
    color: #495057;
}

.btn-conBorde{
    font-family: 'Inter';
    font-weight: 400;
    color: #0A3871;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    cursor: pointer;
    padding: 24px;
    gap: 8px;
    border: 1px solid #0A3871;
    background-color: transparent;
    border-radius: 24px;
    
}
.btn-conFondo{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    cursor: pointer;
    padding: 24px;
    gap: 8px;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    border-radius: 24px;
    color: #fff;
}

#Logo{
    padding-top: 40px;
    padding-left: 84px;
}

.rectangulo-contenedor2{
    background-color: #fff;
    height: calc(100% - 80px);
    width: 400px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contenido-inicial{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: none;
}

.contenido-inicial #img-contenedor2{
    width: 336px;
    display: block;
    margin: auto;
}

.contenido-inicial h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
    text-align: center;
    line-height: 28.8px;
}

.contenido-final{
    
}

.contenido-inicial p, .contenido-inicial p{
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding-top: 16px;
}

.contenido-final p{
    font-size: 24px;
    text-align: justify;
    line-height: 36px;
}

.contenido-final .texto-mostrado{
    max-height: 60vh;
    overflow-y: auto;
}

.contenido-final button{
    width: 336px;
    position: absolute;
    bottom: 40px;
}

.textbox{
    background-color: transparent;
    width: 680px;
    height: 40%;
    border: none;
    position: absolute;
    top: 168px;
    right: 35%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
    resize: none;
    text-align: justify;
}

.textbox:focus {
    outline: none;
}
.textbox::placeholder {
    color: #0A3871; 
}

.aviso{
    padding-bottom: 16px;
}

.aviso-btn{
    position: absolute;
    bottom: 72px;
    right: 35%;
}
.aviso i{
    color: #495057;
}
.aviso p{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    color: #495057;
    font-size: 12px;
    line-height: 18px;
    opacity: 80%;
    
}

#encriptar{
    width: 328px;
    margin-right: 24px;
}

#desencriptar{
    width: 328px;
}

@media only screen and (max-width:1000px){
    #Logo{
        padding-top: 73.42px;
        padding-left: 40px;
    }
    .textbox{
        width: calc(100% - 80px);
        top: 240px;
        left: 0;
        right: 0;
        margin: 0 40px;
    }
    .aviso-btn{
        top: 58%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 40px;
        height: 115px;
    }

    #encriptar {
        min-width: 47.5%;
        max-width: 350px;
    }

    #desencriptar {
        max-width: 350px;
        min-width: 47.5%;
    }

    .contenido-inicial{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .contenido-inicial h3,p {
        white-space: nowrap;
    }
    .contenido-inicial #img-contenedor2{
        display: none;
    }
    .rectangulo-contenedor2{
        width: calc(100% - 80px);
        height: 25vh;
        top: initial;
        bottom: 0;
    }
    .contenido-final p {
        white-space: initial;
    }
    .contenido-final .texto-mostrado {
        max-height: 12vh;
        overflow-y: auto;
        margin-bottom: 15px;
    }
    .contenido-final button {
        width: 100%;
        position: initial;
    }
}

@media only screen and (max-width:560px){
    #Logo {
        padding-left: 16px;
    }
    .textbox {
        width: calc(100% - 32px);
        margin: 0 16px;
        top: 25%;
        height: 18%;
        font-size: 21px;
        line-height: 30px;
    }
    .aviso-btn {
        text-align: center;
        top: initial;
        bottom: 36%;
        margin: 0 16px;
    }
    .aviso {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 16px;
    }

    .rectangulo-contenedor2 {
        width: calc(100% - 32px);
        margin: 40px 16px;
    }

    .btn-conFondo {
        padding: 12px;
    }

    .btn-conBorde {
        padding: 12px;
    }
    #encriptar {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .rectangulo-contenedor2 {
        height: 24vh;
    }
    .contenido-inicial {
        width: inherit;
    }
    
    .contenido-inicial h3, p {
        white-space: break-spaces;
    }

    .contenido-final p {
        font-size: 21px;
        line-height: 30px;
    }
}